https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip
scipy
matplotlib
opencv-python
scikit-image
filterpy
torchvision
scenedetect==0.5.6.1
nvidia-cudnn-cu11==8.6.0.163
tensorflow
gdown
python_speech_features
